/**
 * setting
 */
:root{
  --font_family-monospace: "Noto Sans Mono", monospace;
  --font_family-cursive: "Rock Salt", cursive;

  --weight-normal: 300;
  --weight-bold: 500;

  color-scheme: light;
  --main-text: #e5edf5;
  --main-background: #1c314a;
  --background-filter: blur(2px) saturate(0.2) opacity(1);
  --header-filter: blur(2px) brightness(1.5) grayscale(0.25) opacity(0.9);
  --header-background: #fff8;
  --theme-default: #1c314a;
  --theme-hover: #5786c0;
  --title-filter: brightness(1);
  --scrollbar-track: #cee5be;
  --scrollbar-thumb: #273c17;
  --selection: #1e2e1180;
}

:root.is-dark{
  color-scheme: dark;
  --main-text: #1c314a;
  --main-background: #e5edf5;
  --background-filter: blur(0px) saturate(0.1) opacity(0.2);
  --header-filter: blur(2px) brightness(1.5) grayscale(0.25) opacity(0.9);
  --header-background: #000b;
  --theme-default: #5786c0;
  --theme-hover: #1c314a;
  --title-filter: brightness(0.25);
  --scrollbar-track: #cee5be;
  --scrollbar-thumb: #4d752c;
  --selection: #1e2e1140;
}


/**
 * Smooth Scrollbar
 */
.scrollbar-track{
  @enums cb:var(--scrollbar-track)!;
}

.scrollbar-thumb{
  @enums cb:var(--scrollbar-thumb)!;
}


/**
 * body
 */
.c-body{
  min-height: 100dvh;
  font-family: var(--font_family-monospace);
  font-weight: var(--weight-normal);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--main-text);
  background-color: var(--main-background);
}

::selection{
  background-color: var(--selection);
}


/**
 * background
 */
.c-background{
  @enums pos:absolute w:100% h:100% xion:filter^0.3s filter:var(--background-filter);

  &--inner{
    @enums d:block w:100% h:100%;
  }

  &--image{
    @enums d:block w:100% h:100% ojf:cover;
  }
}


/**
 * Header
 */
.c-header{
  @enums pos:relative z:50 w:100% h:2rem
  bdf:var(--header-filter) cb:var(--header-background);

  &--inner{
    @enums d:flex flw:wrap jstc:space-between alni:center w:100% h:100% wmax:1280px mx:auto;
  }

  &--link{
    @enums d:flex gap:0^0.5rem;

    &--anchor{
      @enums xion:color^0.3s fw:var(--weight-bold)
      ct:var(--theme-default) hover!ct:var(--theme-hover);
    }
  }

  &--color_theme{
    @enums d:flex gap:0^0.5rem;

    &--button{
      @enums fs:1.25rem fh:1.5 xion:color^0.3s
      ct:var(--theme-default) hover!ct:var(--theme-hover);

      &_light, &_dark{
        @enums d:block;
      }
    }
  }
}


/**
 * Content main
 */
.c-main{
  @enums pos:absolute! i4:0 i8:0 z:0 w:100% h:100% p8:2rem;

  &--inner{
    @enums d:grid grid-template-rows:min-content^1fr^min-content
    w:100% hmin:calc[[100dvh-2rem]];
  }

  &--header{
    @enums w:100% wmax:320px mq(width:640px-)!wmax:480px mq(width:768px-)!wmax:640px
    mx:auto m8:min(25vw,25vh) m2:min(12.5vw,12.5vh) filter:var(--title-filter);

    &--image{
      @enums d:block w:100% wmax:unset!;
    }

    &--caption{
      @enums fsp:1em fa:center ff:var(--font_family-cursive);
    }
  }

  &--contents{
    @enums d:flex fld:column gap:1rem^0 w:100% wmax:640px mq(width:768px-):800px mx:auto px:1rem;

    &--paragraph{
      @enums fi:1.5rem;
    }
  }

  &--footer{
    @enums my:2.5rem fa:center;
  }
}
