doctype html
html
  head
    link(rel="stylesheet", href="css/about.css")
    script(src="js/index.js")
    //base(href=`${locals.base}`)
  body
    h1 about
    div.c-color_blue color blue
    ul
      li
        a(href="./") index
      li
        a(href="./about.html") about
