doctype html
html
  head
    link(rel="stylesheet", href="css/index.css")
    script(src="js/index.js")
    //base(href=`${locals.base}`)
  body
    h1 index
    div.c-color_red color red
    ul
      li
        a(href="./") index
      li
        a(href="./about.html") about
